body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    mark.hltr-pink {
      color: #FFB8EBA6!important;
      background: none!important;
    }
    
    mark.hltr-red {
      color: #FF5582A6!important;
      background: none!important;
    }
    
    mark.hltr-orange {
      color: #FFB86CA6!important;
      background: none!important;
    }
    
    mark.hltr-yellow {
      color: #FFF3A3A6!important;
      background: none!important;
    }
    
    mark.hltr-green {
      color: #BBFABBA6!important;
      background: none!important;
    }
    
    mark.hltr-cyan {
      color: #ABF7F7A6!important;
      background: none!important;
    }
    
    mark.hltr-blue {
      color: #ADCCFFA6!important;
      background: none!important;
    }
    
    mark.hltr-purple {
      color: #D2B3FFA6!important;
      background: none!important;
    }
    
    mark.hltr-grey {
      color: #CACFD9A6!important;
      background: none!important;
    }

    
}